# .env.example
# Environment variables declared in this file are automatically made available to Prisma.
DATABASE_URL="mysql://root:12345@localhost:3306/dorm_booking"

NEXTAUTH_URL=http://localhost:3000

# .env.local
NEXTAUTH_SECRET=ggezxddd555

APPLICATION_KEY=TU_APPLICATION_KEY

EMAIL_USER=EMAIL_USER
EMAIL_PASS=EMAIL_PASS

JWT_SECRET=JWT_SECRET
JWT_SECRET_ADMIN=JWT_SECRET
JWT_EXPIRES_IN=JWT_EXPIRES_IN

# Client ID
GOOGLE_CLIENT_ID=GOOGLE_CLIENT_ID
# Client_secret
GOOGLE_CLIENT_SECRET=GOOGLE_CLIENT_SECRET

LINE_CHANNEL_SECRET=LINE_CHANNEL_SECRET
LINE_CHANNEL_ACCESS_TOKEN="LINE_CHANNEL_ACCESS_TOKEN"
LINE_DEBUG=1

R2_ACCESS_KEY_ID=your_access_key
R2_SECRET_ACCESS_KEY=your_secret_key
R2_ENDPOINT=https://<account_id>.r2.cloudflarestorage.com
R2_BUCKET_NAME=dorm-booking-proofs
R2_PUBLIC_URL=https://pub-your-id.r2.dev # URL สำหรับเข้าถึงรูป